@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,800;1,200&display=swap');

body {
    font-family: 'Jost', sans-serif;
    background-color:#E5E3ED;
    color: #778;
    margin: 14mm;
    text-decoration: none;
}

h1, h2 {
    text-align: left;
    font-family: 'Jost', sans-serif;
    color: #348aa7;
    display: inline;  
    
}

h1 {
    font-weight: 800;
    font-size: xx-large;
    font-style: bold;
    margin-bottom: 10%;
   
}

h2 {
    font-style: italic;
    font-size: medium;

}

h3 {
    font-style: italic;
    font-size: medium;
    font-weight: regular;
    
}

h4 {
    font-size:larger;
    color: #348aa7;
    padding-bottom: 3px;
}

h5 {
   
}

.profile {
    float: right;
    width: auto;
    height: auto;
    border-radius: 50%;

}

.info {
    font-size: large;
    padding-right: 50px;
}

.bio {
    margin-top: auto;
    width: 50%;
            
}

.experience {
    font-size: large;
    margin-top: auto
    ;
    margin-left: 5%;
    width: auto;
    float: right;
}

.certificates {
    width: auto;
    font-size: larger;
}

.education {
    text-decoration: none;
    font-size: larger;
    margin-top: 0;
    width: 39%;
    float: right;
}

.language {
    font-size: larger;
    width: auto;
}

.interests {
    font-size: larger;
    width: 50%;
    }

